:root {
  font-family: Inter;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#app {
  font-family: Inter !important;
  color: #000C23;
}
/* text */
.smallTxt {
  font-size: 10pt;
}

.greyTxt {
  color: #696d76
}
/* background colors */
.lightgreyBg {
  background: #E1E1E2;
}
.blueBg {
  background: #c3e0fb;
}
.darkblueBg {
  background: #96c6f1;
}
.greenBg {
  background: #cdf0eb;
}
.darkgreenBg {
  background: #9fd9d1;
}
.yellowBg {
  background: #fff4da;
}
.darkyellowBg {
  background: #ffe6ad;
}
.redBg {
  background: #fdd4d7;
}
.darkredBg {
  background: #fbb3b8;
}
/* layout */
.scrollX {
  overflow-x: scroll;
}